body {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 25px;
    background-color: darkslategray;

}
#wrapper {
    border: solid;
    background-color: darkgrey;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    align-items: center;
}
button {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
}
button:hover {
    background-color: greenyellow;
    color: darkblue;
}
h2 {
    color: red;
}
h3 {
    color: blue;
}
span {
    color: black;
    background-color: chartreuse;
}
.answer-button {
    display: flex;
    border-style: hidden;
    position: relative;
    font-family: 'Indie Flower', cursive;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    background-color: white;
    font-size: 25px;
}
.answer-button:hover {
    background-color: red;
}
#subwrapper {
    display: inline-block;
    align-items: center;
    justify-content: center;
}
#button-0,
#button-1,
#button-2,
#button-3{
    display: inline-block;
    position: fixed;
    align-items: center;
}
#reset {
    font-family: 'Indie Flower', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
#reset:hover {
    background-color: crimson;
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
}
